#form div{
	margin-top: 20px;
	font-family: Consolas;
}
.form-input{
	width: 300px;
	height: 50px;
	border-radius: 20px;
	border: 1px solid #cccccc;
	padding: 5px 20px;
}
.button{
	width: 300px;
	height: 40px;
	line-height: 32px;
	border: 0;
	border-radius: 20px;
	background-color: #007bff;
}
#form span{
    color: #dd0000;
    font-family: "微软雅黑", serif;
    font-size: 80%;
}